<!-- FAQ -->
<div class="section m-0 parallax" style="background-color:rgb(34, 72, 112);">
  <div class="container">
    <div class="row justify-content-center dark">
      <div class="col-md-7">
        <h2 class="text-center text-white mb-5 fw-semibold">Frequently Asked Questions</h2>
        <div class="toggle-wrap">

          <div class="toggle">
            <div class="toggle-header">
              <div class="toggle-icon">
                <i class="toggle-closed fa-solid fa-angle-right"></i>
                <i class="toggle-open fa-solid fa-angle-down"></i>
              </div>
              <div class="toggle-title">
                What's the process of working together look like?
              </div>
            </div>
            <div class="toggle-content">
              Step 1: Jump on a discovery Zoom call to go over your forum, our app solutions and talk about goals (user engagement, bespoke development, etc.)<br><br>
              Step 2: We make and send design mockups to go over and make changes to based on your feedback.<br><br>
              Step 3: Once designs are agreed to, we get to work. Building you, your own iOS and Android apps. We mostly use the API released in XF 2 but also have a custom plugin that enhances the API with additional endpoints.<br><br>
              Step 4: App launch, community feedback, app updates.
            </div>
          </div>

          <div class="toggle">
            <div class="toggle-header">
              <div class="toggle-icon">
                <i class="toggle-closed fa-solid fa-angle-right"></i>
                <i class="toggle-open fa-solid fa-angle-down"></i>
              </div>
              <div class="toggle-title">
                How does the app get my forum data?
              </div>
            </div>
            <div class="toggle-content">
              We access the data via the native API that XenForo released as well as through additional API endpoints that we have in our custom plugin. We never store or own your data, that continues to live on your servers. If at any time you wish to prevent the apps from accessing the data, it's as simple as revoking API keys in your admin dashboard.
            </div>
          </div>

          <div class="toggle">
            <div class="toggle-header">
              <div class="toggle-icon">
                <i class="toggle-closed fa-solid fa-angle-right"></i>
                <i class="toggle-open fa-solid fa-angle-down"></i>
              </div>
              <div class="toggle-title">
                How long will this take to set up?
              </div>
            </div>
            <div class="toggle-content">
              It depends largely on how much custom development we need to do for your specific forum -- but we think we have a very modern and intuitive starting point. If you have very unique requests (i.e. non XenForo native features) we'll have to figure out a way to include those.
            </div>
          </div>

          <div class="toggle">
            <div class="toggle-header">
              <div class="toggle-icon">
                <i class="toggle-closed fa-solid fa-angle-right"></i>
                <i class="toggle-open fa-solid fa-angle-down"></i>
              </div>
              <div class="toggle-title">
                Who are you?
              </div>
            </div>
            <div class="toggle-content">
              My name's Nathan. I've been a mobile developer since 2013.<br><br>
              Previously, I had a hardware and software startup that made sensors and internet of things software for aquarium owners (where I got to know the owner of Reef2Reef and learned about XenForo). Matt Burns, a TechCrunch editor, had this to say about my previous app:<br><br>
              "It's the first app I open every morning. Before Reddit, before Gmail, before NYT. I roll over, grab my phone and check. I don’t know if there’s a higher honor I can bestow on an app."<br><br>
              I met the owner of Reef2Reef through my previous aquarium company and he asked me to build his community an app. In doing so I realized that there are quite a lot of shared aspects (especially tech wise) among every community running on XF and that a native mobile app could benefit many of these communities. For example, they all would have a direct messages section in the app and need to parse/format BBCode similarly.
            </div>
          </div>

<!-- For whatever reason, the last faq doesnt toggle so this lil hack makes it works and makes sense to include -->
          <div class="toggle">
            <div class="toggle-header">
              <div class="toggle-icon">
                Contact us below to learn more or at nathan@tryforumly.com
                <i class="toggle-closed fa-solid fa-angle-right" style="visibility: hidden;"></i>
                <i class="toggle-open fa-solid fa-angle-down"  style="visibility: hidden;"></i>
              </div>
              <div class="toggle-title">
              </div>
            </div>
            <div class="toggle-content">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
