<section id="slider" class="slider-element dark min-vh-100 include-header" style="background-image: url('demos/landing/images/hero/1.svg');">
  <div class="slider-inner flex-column">

    <div class="vertical-middle">
      <div class="container">
        <div class="row align-items-lg-center g-0">

          <div class="col-lg-6 col-md-6">
            <h2 class="display-3 fw-bold text-white">Native & Bespoke<br>Xenforo Mobile Apps</h2>
            <p class="lead mb-4 fw-normal">Grow your Xenforo-based community with native iOS and Android mobile applications. These apps enhance user experience and increase user engagement across the board.</p>
            <div>
              <!-- <a href="#" class="btn mt-2 text-dark bg-white rounded-3 px-4 py-3 text-transform-none ls-0 shadow-sm"><i class="fa-brands fa-apple me-2"></i>Get it on the App Store</a> -->
              <!-- <a href="#" class="ms-0 ms-lg-2 mt-2 btn text-dark bg-white rounded-3 px-4 py-3 text-transform-none ls-0 shadow-sm"><i class="fa-brands fa-google-play me-2"></i>Get it on Play Store</a> -->
            </div>
          </div>

          <div class="col-lg-5 col-md-6 align-self-lg-end">
            <div class="slide-imgs">
              <img src="demos/landing/images/hero/phones_overlapping.png" alt="Image" class="iphone-img" style="width:90%; height: auto; max-width: none;">
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- {% include partner-logos.html %} -->

  </div>
</section><!-- #header end -->
