<!-- Header
============================================= -->
<header id="header" class="transparent-header full-header dark no-sticky" data-responsive-class="not-dark">
  <div id="header-wrap">
    <div class="container">
      <div class="header-row">

        <!-- Logo
        ============================================= -->
        <div id="logo" class="border-end-0">
          <a href="#">
            <img class="logo-default" srcset="images/logo-dark.png" src="images/logo-dark.png" alt="Forumly Logo">
            <img class="logo-dark" srcset="images/logo-white.png" src="images/logo-white.png" alt="Forumly Logo">
          </a>
        </div><!-- #logo end -->

        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
          </button>
        </div>

        <!-- Primary Navigation
        ============================================= -->
        <nav class="primary-menu with-arrows">

          <ul class="me-0 border-0 menu-container">
            <li class="menu-item"><a class="menu-link" href="#"><div>Home</div></a></li>
            <!-- <li class="menu-item"><a class="menu-link" href="demo-landing-about.html"><div>About</div></a></li> -->
            <!-- <li class="menu-item"><a class="menu-link" href="demo-landing-contact.html"><div>Contact</div></a></li> -->
          </ul>

        </nav><!-- #primary-menu end -->

      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header><!-- #header end -->
