<div class="section m-0 bg-color" style="padding: 100px 0; background-image: linear-gradient(to bottom, #3D80E4 0%, #0a4bab 80%, #FFF 80%);">
  <div class="container dark dotted-bg mb-6">
    <div class="fslider testimonial testimonial-full text-center bg-transparent mx-auto" data-animation="fade" data-pagi="false">
      <div class="flexslider">
        <div class="slider-wrap mw-sm mx-auto">
          <div class="slide">
            <img src="demos/landing/images/clients/skype.svg" alt="Customer Testimonials">
            <h3>Completely restore optimal human capital with economically sound infomediaries. Authoritatively extend end-to-end content with covalent relationships.</h3>
            <h5 class="mb-0 text-uppercase ls-1">- Steve Jobs</h5>
            <small class="op-07">Apple Inc.</small>
          </div>
          <div class="slide">
            <img src="demos/landing/images/clients/netflix.svg" alt="Customer Testimonials">
            <h3>Dynamically supply cross functional process improvements whereas enterprise-wide ROI. Distinctively streamline cost effective data and multifunctional functionalities.</h3>
            <h5 class="mb-0 text-uppercase ls-1">- Ta'eed</h4>
            <small class="op-07">Envato Inc.</small>
          </div>
          <div class="slide">
            <img src="demos/landing/images/clients/nat-geo.svg" alt="Customer Testimonials">
            <h3> Globally implement strategic resources via ethical markets. Interactively drive highly efficient potentialities before economically sound applications communicate solutions.</h3>
            <h5 class="mb-0 text-uppercase ls-1">- John Doe</h5>
            <small class="op-07">XYZ Inc.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
