<div class="section m-0 bg-transparent pb-0" style="padding-top: 100px;">
  <div class="container">
    <div class="mx-auto text-center mt-4 mb-5 heading-block" style="max-width: 740px;">
      <h5 class="text-uppercase ls-1 text-muted mb-3">Why Get An App?</h5>
      <p class="lead fw-normal font-primary mb-5">A majority of your users are accessing your forum via a smartphone. While the progressive web app suffices, the benefits of a native mobile iOS & Android app allow for increased user engagement and community growth.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 mb-5">
        <div class="feature-box fbox-plain mb-4">
          <div class="fbox-icon">
            <a href="#"><i class="bi-bell text-primary"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Push Notifications</h3>
            <p>With native push notifications, users get alerts for comments, reactions, new posts on threads they are viewing, etc. This brings them back into the forum quickly and easily.</p>
          </div>
        </div>
        <div class="feature-box fbox-plain mb-4">
          <div class="fbox-icon">
            <a href="#"><i class="bi-pencil-square text-warning"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Easy Posting</h3>
            <p>Significantly increase new posts and comments by taking advantage of native environments and putting new posts at the forefront.</p>
          </div>
        </div>
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="bi-camera text-danger"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Photos & Videos</h3>
            <p>Xenforo forums suffer from an easy way to post photos/videos directly from a user's phone. This added headache for users lowers the amount of content they are posting.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <div class="feature-box fbox-plain mb-4">
          <div class="fbox-icon">
            <a href="#"><i class="bi-columns-gap text-success"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Scrollability</h3>
            <p>With a native feed and the ability to show the first post of each thread, the mobile UI makes it easy for users to scroll through more posts and find content they want to engage with.</p>
          </div>
        </div>
        <div class="feature-box fbox-plain mb-4">
          <div class="fbox-icon">
            <a href="#"><i class="bi-chat-dots text-info"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Conversations as DMs</h3>
            <p>With a native mobile app design, XF conversations are treated as direct messages, providing a more intuitive interface for private interactions.</p>
          </div>
        </div>
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a href="#"><i class="bi-gear text-secondary"></i></a>
          </div>
          <div class="fbox-content">
            <h3>Bespoke Development</h3>
            <p>We can add specialized features to your forum that make more sense with a mobile app, encouraging users to return and share more content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
