<!-- Footer -->
<footer id="footer" class="bg-white border-0">

  <div id="copyrights" class="bg-color dark py-5">
    <div class="container">

      <div class="row col-mb-30">
        <div class="col-md-6 text-center text-md-start">
          Copyrights &copy; 2024 All Rights Reserved by Forumly LLC.<br>
          <!-- <div class="copyright-links"><a href="#" class="text-white-50">Terms of Use</a> / <a href="#" class="text-white-50">Privacy Policy</a></div> -->
        </div>

        <div class="col-md-6 text-center text-md-end">
          <!-- <a href="#" class="btn color bg-white rounded px-3 py-2 text-transform-none ls-0 shadow-sm"><i class="fa-brands fa-apple me-2"></i>App Store</a> -->
          <!-- <a href="#" class="btn color bg-white rounded px-3 py-2 text-transform-none ls-0 shadow-sm ms-2"><i class="fa-brands fa-google-play me-2"></i>Play Store</a> -->
        </div>
      </div>

    </div>
  </div>

</footer>
<!-- #footer end -->
