<div class="section-clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 d-flex align-items-lg-center flex-row">
        <div class="col"><img src="demos/conference/images/sponcors/R2RSignature.png" alt="r2r"></div>
        <div class="col"><img src="demos/conference/images/sponcors/netflix.svg" alt="Clients"></div>
        <div class="col"><img src="demos/conference/images/sponcors/google.svg" alt="Clients"></div>
        <div class="col"><img src="demos/conference/images/sponcors/linkedin.svg" alt="Clients"></div>
      </div>
    </div>
  </div>
</div>
