<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Native Mobile Apps For Xenforo Based Communities">

	<!-- Font Imports -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet">

	<!-- Core Style -->
	<link rel="stylesheet" href="./style.css">

	<!-- Font Icons -->
	<link rel="stylesheet" href="./css/font-icons.css">

	<!-- Niche Demos -->
	<link rel="stylesheet" href="./demos/landing/landing.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href={{ "/assets/img/apple-touch-icon.png" | absolute_url }}> -->
  <link rel="icon" href={{ "./images/favicon.ico" | absolute_url }}>


	<!-- Document Title
	============================================= -->
	<title>Xenforo Mobile Apps</title>

</head>

<body class="stretched">

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="./js/plugins.min.js"></script>
	<script src="./js/functions.bundle.js"></script>

	<!-- Parallax Script
	============================================= -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
	<script>!SEMICOLON.Mobile.any() && skrollr.init({forceHeight: false});</script>

	<script>
		jQuery(window).on( 'load', function(){
			setTimeout( function(){
				jQuery('.owl-stage').after('<div class="owl-stage-outer-bg"></div>');
			}, 1000 );
		});
	</script>

</body>
</html>
